.app {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.search-section label {
  margin-right: 10px;
  font-size: 18px;
}

.search-section input {
  padding: 8px;
  font-size: 16px;
}

.horizontal-line {
  width: 100%; 
  height: 2px;
  background-color: #000; 
  margin-top: 20px; 
}

.content {
  display: flex;
  flex-grow: 1; 
  width: 100%;
}

.left-sidebar, .right-sidebar {
  flex: 1; 
  background-color: #f1f1f1;
  padding: 20px;
  min-height: 300px;
}

.main-content {
  flex: 3; 
  background-color: #ffffff;
  padding: 20px;
  min-height: 300px;
}