.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e8ecf0; 
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.main-nav {
  margin-right: 65%;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;  /* Расстояние между элементами навигации */
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
}

.main-nav ul li a:hover {
  background-color: #0056b3;
  border-radius: 4px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-switcher button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.logo img {
  height: 80px; 
}

.profile-icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
