.header {
  display: flex;
  justify-content: space-between; /* Лого слева, кнопки и маленький логотип справа */
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.language-switcher {
  display: flex;
  gap: 5px; /* Отступ между кнопками RU и AZ */
}

.language-switcher button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.logo img {
  height: 80px; 
}

.profile-icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
