.left-sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
  }
  
  .left-sidebar.see {
    width: 80px;  
  }

  .left-sidebar.ntsee {
    width: 200px;  /* Ширина сайдбара при разворачивании */
  }

  .ant-menu-item {
    display: flex;
    align-items: center;
  }
  
  .ant-menu-item .ant-menu-item-icon {
    margin-right: 0;  
  }
  
  .left-sidebar.see .ant-menu-item .ant-menu-item-icon + span {
    display: none;  /*текст при свёрнутом состоянии */
  }