.left-sidebar {
    width: 10%;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
  }
  
  .left-sidebar.see {
    width: 20%;  
  }

  .left-sidebar.notsee {
    width: 10%;  /* Ширина сайдбара при разворачивании */
    min-width: 10%;
  }

  .ant-menu-item {
    display: flex;
    align-items: left;
  }
  
  .ant-menu-item .ant-menu-item-icon {
    margin-right: 0;  
  }
  
  .left-sidebar.notsee .ant-menu-item .ant-menu-item-icon + span {
    display: none;  /*текст при свёрнутом состоянии */
  }